/* styles.css */
body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  margin-top: 50px;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  
}

.form-container {
  margin-top: 2.5rem;
  max-width: 24rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 50px 2px 50px;
  border-radius: 20px;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 3.5rem;
  width: auto;
}

.heading {
  margin-top: 2.0rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #1a202c; /* Gray 900 */
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1a202c; /* Gray 900 */
  margin-bottom: 5px;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #e2e8f0; /* Gray 300 */
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: #1a202c; /* Gray 900 */
  background-color: white;
  box-shadow: 0 0 0 1px inset #e2e8f0; /* Gray 300 */
}

.input:focus {
  outline: none;
  border-color: #4c51bf; /* Indigo 600 */
  box-shadow: 0 0 0 2px inset #4c51bf; /* Indigo 600 */
}

.forgot-password {
  font-size: 0.875rem;
  font-weight: 600;
  color: #5a67d8; /* Indigo 600 */
}

.forgot-password:hover {
  color: #4c51bf; /* Indigo 500 */
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4c51bf; /* Indigo 600 */
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  border-radius: 0.375rem;
  box-shadow: 0 0 0 2px inset #4c51bf; /* Indigo 600 */
}

.submit-btn:hover {
  background-color: #5a67d8; /* Indigo 500 */
}

.footer-text {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280; /* Gray 500 */
}

.footer-link {
  font-weight: 600;
  color: #5a67d8; /* Indigo 600 */
}

.footer-link:hover {
  color: #4c51bf; /* Indigo 500 */
}

.text-sm{
  margin-top: 10px;
}
